.tooltip {
  background-color: black;
  background-color: rgba(0, 0, 0, .8);
  border-radius: .4em;
  color: white;
  cursor: default;
  display: inline-block;
  font-size: .8em;
  line-height: 1.6;
  max-width: 20em;
  padding: .4em .6em;
  position: relative;
  text-shadow: 1px 1px 1px black;
}

.tooltip:after {
  border-color: transparent;
  border-style: solid;
  border-top-color: rgba(0, 0, 0, .8);
  border-width: 5px 5px 0;
  bottom: -5px;
  content: ' ';
  display: block;
  height: 0;
  left: .8em;
  margin-left: -5px;
  position: absolute;
  width: 0;
}

.tooltip.tooltip--dynamic {
  position: absolute;
  left: 0;
  top: 0;
}
